
* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
}
h1 {
    color: #fff;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}
h1 {
    position: absolute;
    left: 90px;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}
.about {
    background-color: antiquewhite;
    color: blue;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
}
.about h2{
    color:red;
    margin: 15px 0;
   
    margin-top: 90px;
    margin-left:0px; 
    padding: 10px 10px;
    margin-bottom: 10px;
}


.about p{ 
    background-color: #5f9ea0;
    width: 600px;
    padding: 32px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin: 15px 0;
    text-align: left;
    margin-top: 10px;
    margin-left:0px; 
    padding: 10px 10px;
}
.menu {
    display: none;
}
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translateX(-50%);
    }

    .news h2 {
        font-size: 40px;
    }
    .menu {
        display: none;
    }
    .menu {
        display: block;
        background-color:transparent;
        color:white;
        font-size: 35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor:pointer;
    }
    .shop{
        flex-direction:column;

    }
    .shop img{
        width:100%;
    }
    .info{
        width:100%;
        padding:40px 0;

    }
    .info h2{
        font-size:30px;

    }
    .product{
        flex-direction: column;
        padding: 60px 0;

    }
    .product div{
        margin-bottom: 30px;
    }
}